.button {
    margin: 15px;
    width: 50px;
}

.button:focus {
    outline: #bbffbb solid 1px;
}

.button:active {
    background: #bbffbb;
}

.active {
    background: #335533;
}

.affair {
    display: flex
}

.item {
    margin: 15px;
    width: 100px;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: blueviolet;
}
